LARAVEL
laravel breez
uzmi neki api i integriraj ga sa svojom aplikacijom nekom
OAuth2 - probat napraviti - mozda u api gore
limevire instead pagination (load more)

CSS
tailwind (css framework)

JS
vue.js -> to će ti pomoći za shvatiti laravel brez, zbog komponenti

OSTALO
uplodaj 4 mala projekta na free shared hosting


PROJEKTI
darovi za djecu iz doma - laravel
forum - laravel
movie db api - js


background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));



PONAVLJANJE
    controlleri x
    ajax x
    promises x
    fetch x
    web_comp x
    localStorage = bookmarks x
    parcel x
    webpack x
    high_oreder_function x
    exportsi x

    git
    modal, glass, counter, img_gallery, coming_soon

