<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <!-- materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <title>Voice Task Menager</title>
</head>
<body>


    <nav>
    <div class="nav-wrapper">
        <a href="#" disabled class="brand-logo center">Voice Task Menager</a>
    </div>
    </nav>¸

    <section class="main" style="overflow: auto;">


    <div class="container">

        <button id="addTask" class="tooltipped modal-trigger btn-floating btn-large waves-effect pulse waves-light red right accent-2" data-position="bottom" data-tooltip="Press and tell your Task" href="#modal1" style="margin: 2rem 0;">Add<i class="material-icons">add</i></button>

        <table id="wholeTable" class="striped responsive-table">
            <thead>
            <tr>
                <th>Number</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="out"></tbody>
        </table>


    <!-- Modal Structure -->
        <div id="modal1" class="modal red lighten-2">
            <div class="modal-content center white-text">
                <h1 style="margin-bottom: 2rem;">Tell your comand</h1>
                <h6 style="padding: 2rem;">ADD Task - Tell your task and at the end tell SAVE</h6>
                    <h6>DELETE Task -For deleting last task just say REMOVE</h6>
            </div>
            <div class="modal-footer red lighten-2 ">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text" style="font-size:larger">Ok</a>
            </div>
        </div>

    </section>


    <footer class="page-footer red lighten-2">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Upute za korištenje Voice Task Menagera</h5>
                <p class="grey-text text-lighten-4">Spremite i pratite svoje obveze glasovnom naredbom, brzo i jednostavno!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Instrukcije</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">- ADD Task - Tell your task and at the end tell SAVE</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">- REMOVE Task - For deleting last task just say REMOVE REMOVE</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright center red lighten-2">
            <div class="container white-text">
                © 2014 Copyright Text
            </div>
        </div>
        </footer>

    <script src="./main.js"></script>
</body>
</html>
