<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <header class="bg-light text-center mb-4 p-3">
        <h1>Moj Logo</h1>
    </header>

    <div class="container">
        <form id="pet-form">
            <div class="form-group">
                <label for="animal">Animal</label>
                <select name="" id="animal" class=" mb-3 form-control form-control-lg">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="bird">Bird</option>
                    <option value="barnyard">Barnyard</option>
                </select>
                <input type="text" placeholder="Enter Your Zip Code" id="zip" class="form-control form-control-lg">
                <input type="submit" value="Find" class="btn btn-dark btn-lg btn-block mt-3">
            </div>
        </form>

        <div id="results"></div>
    </div>
</body>

<script src="js/main.js"></script>

</html>
