<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <!-- materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Cart Test</title>
</head>
<body>


    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>

<section>
    <div class="container">
        <h1 class="center marg">Moj Šop</h1>


        <div id="cart" class="cart red  lighten-2">
            <p class="title">Stvari u košarici:</p>
            <div id="cName"></div>
            <p class="title">Cijena:</p>
            <div id="cPrice"></div>
            <button id="closeCartBtn" class="btn  white black-text right">X</button>
        </div>


        <div class="row">

            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="name card-title">Televizor</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                </div>
                <div class="price white-text">10</div>
                <div class="card-action">
                    <button class="buy btn red right">Kupi</button>
                </div>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="name card-title">PC</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                    </div>
                    <div class="price white-text">30</div>
                    <div class="card-action">
                        <button class="buy btn red right">Kupi</button>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="name card-title">Monitor</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                    </div>
                    <div class="price white-text">40</div>
                    <div class="card-action">
                        <button class="buy btn red right">Kupi</button>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="name card-title">VHS</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                    </div>
                    <div class="price white-text">50</div>
                    <div class="card-action">
                        <button class="buy btn red right">Kupi</button>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="name card-title">Auto</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                    </div>
                    <div class="price white-text">60</div>
                    <div class="card-action">
                        <button class="buy btn red right">Kupi</button>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="name card-title">Bicikl</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p> <br>
                    </div>
                    <div class="price white-text">20</div>
                    <div class="card-action">
                        <button class="buy btn red right">Kupi</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<button id="clear" class="btn blue right">OČISTI</button>




</body>
<script src="./main.js"></script>
</html>
